* {
  font-family: "tajawal";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #272a2f;
  color: white;
  position: relative;
  z-index: -2;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 10%;
  transform: scale(-100%, -100%);
  object-fit: fill;
}

.bg-body-light {
  background-color: #272a2f;
  color: white;
}

.bg-body-light {
  background-color: rgb(197, 224, 252);
  color: black;
}

.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#week-events-div,
#quick-categories-div,
#newest-events-div,
#participants-div,
.participants-div,
#all-events-div,
#view-event-div,
#suggested-events-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#view-event-div {
  flex-direction: column;
}

.card {
  flex-basis: 1;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: max(250px, 30%);
  transition: all;
  cursor: pointer;
}

.card:hover {
  transform: scale(105%, 105%);
}

.card-img-top-category {
  filter: brightness(0) invert(100%) !important;
  width: 100% !important;
  height: 100px !important;
}

.participant {
  background-color: #272a2f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
}

.card-img-top-participant {
  background-color: #686f7c;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.category {
  flex-basis: 1;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 200px;
  min-width: 200px;
  transition: all;
  cursor: pointer;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 20px;
  padding: 30px 0 0;
}

.category:hover {
  transform: scale(105%, 105%);
}

.section {
  padding: 20px;
  margin: 100px 20px;
  border-radius: 20px;
}

#main-h1 {
  font-weight: 900;
  font-size: 4rem;
  margin: 50px 0 70px;
}

#filter-input {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 50px 0 10px;
}
